.git
.github
.gitignore
.gitattributes
Jenkinsfile
jenkins

**/.env
**/.env.*

**/*.db
backend/uploads
uploads

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.venv
**/venv

backend/tests
*.md
docker-compose.yml
Makefile
render.yaml
node_modules